<h3>COSIRMA (Computer Simulator for Irradiation of Materials)</h3>

<p>Version: v1.0.2</p>

<p align="justify">
The application is developed and maintained by a small group at the Accelerator Laboratory at the University of Helsinki, Finland.
</p>

<p align="justify">
The PARCAS (PARallell CAScade) Molecular Dynamics code is used to power the molecular dynamics simulations.
</p>

<p align="justify">
<a href='https://www.helsinki.fi/en/researchgroups/helsinki-accelerator-laboratory'>Accelerator Laboratory</a>
<br/>
<a href='https://www.helsinki.fi/en'>University of Helsinki</a>
<br/>
<a href='https://gitlab.com/acclab/parcas'>PARCAS</a>
</p>
