<h3>Copyright &copy; 2020, University of Helsinki</h3>

<p align="justify">
Prof. Kai Nordlund <a href="mailto:kai.nordlund@helsinki.fi">kai.nordlund@helsinki.fi</a>
</p>

<p align="justify">
Authors: Jarno Laakso, Christoffer Fridlund
</p>

<p align="justify">
COSIRMA is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
</p>

<p align="justify">
COSIRMA is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
</p>

<p align="justify">
You should have received a copy of the GNU General Public License
along with COSIRMA. If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.
</p>

